@using BlazorWebEngine.Classes
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.Extensions.FileSystemGlobbing.Internal
@using BlazorWebEngine

<div id="@StyleContainerId">
    @foreach (var frag in ContainerData.StyleRefInvoker.SelectorMap.Values)
    {
        @frag.GetStyleElement()
    }
</div>

<div id="@ContainerData.ContainerId">
    @{
        int w = new Random().Next(4);
        for (int i = 0; i < w; i++)
        {
            <div></div>;
        }
        foreach (var comp in ContainerData.ComponentStorage.ComponentMap.Values)
        {
            @comp.ComponentDef.GetFragment()

        } 
        w = new Random().Next(4);
        for (int i = 0; i < w; i++)
        {
            <div></div>;
        }
    }
</div>

@code{

    public string StyleContainerId => $"StyleContainer_{ContainerData.StyleRefInvoker.StyleRefId}";

}