@page "/"
@using BlazorWebEngine.Classes
@using BlazorWebEngine.Components

<div>
@{ @RootComponent.RenderNodes();}
</div>

@code
{
    [Inject]
    public RootComponent RootComponent { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
