@page "/"
@using BlazorWebEngine.Application

<div>
@{ @StartApp.RenderComponents();}
</div>

@code
{
    [Inject]
    public StartApp StartApp { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
